@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Source Sans Pro", sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-style: normal;
}

/*------------------ NAVBAR--------------------- */

.navbar {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  position: fixed;
  width: 100vw;
  max-height: 44px;
}

.list-items {
  margin: 0 30vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.item {
  margin: 0 5%;
}

main {
  max-width: 2566px;
  padding-top: 43px;
  margin: 0 auto;
}

/* ------------COVID-19 GUIDELINES------------- */

.covid-19-headlines {
  padding: 10px 0;
  display: flex;
  background-color: #f5f5f7;
  align-items: center;
  justify-content: center;
}

.covid-19-headlines p {
  justify-content: center;
  font-size: small;
}

.covid-19-headlines p a {
  text-decoration: none;
  color: #06c;
}

.covid-19-headlines p a:hover {
  text-decoration: underline;
}

/* ---------HOME-PAGE-COVER-------------- */

.home-page {
  background-image: url("/IMAGES/main-images/iphone-12-main-page-large-tall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
}

.home-page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.home-page-info h1 {
  margin-top: 30px;
  font-size: 56px;
  font-weight: 600;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
}

.home-page-info h2 {
  font-size: 28px;
  line-height: 1.23722;
  font-weight: 400;
  letter-spacing: 0.016em;
}

.home-page-info h5 {
  color: #86868b;
  font-weight: 400;
  font-size: large;
  line-height: 2.23536;
}

.home-page-info h3 a {
  text-decoration: none;
  color: #06c;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 400;
  margin: 0 12px;
}

.home-page-info h3 {
  display: inline;
}

.home-page-info h3 a:hover {
  text-decoration: underline;
}

.second-page {
  margin-top: 1.5%;
  background-image: url("/IMAGES/main-images/iphone_12_pro_large_tall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
}

.second-page-info > * {
  color: white;
}

.third-page {
  margin-top: 1.5%;
  background-image: url("/IMAGES/main-images/hero_ipad_pro_largetall.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 580px;
}

.third-page-info h3 {
  margin-top: 1%;
}

/* ----------------FOURTH PAGE----------------- */

.fourth-page {
  display: flex;
  margin-top: 1.5%;
}

.fourth-page .box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

#box1 {
  background-image: url(/IMAGES/main-images/promo_bts__large.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#box1 h1 {
  margin-top: 3%;
  word-spacing: -2px;
  font-size: xx-large;
}

#box1 h3 {
  margin-top: 2%;
}

#box2 {
  background-image: url(/IMAGES/main-images/apple-watch);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 580px;
}

#box2 > div {
  margin-top: 3%;
}

#box2 h2 {
  color: white;
}

.box h3 a {
  text-decoration: none;
}

.box h3 a:hover {
  text-decoration: underline;
}

.fif-6-page {
  display: flex;
  height: 580px;
  margin-top: 1.5%;
  align-items: center;
}

.container {
  width: 50vw;
  height: 580px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box3 {
  background-image: url(/IMAGES/main-images/imac_large.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#box4 {
  background-image: url(/IMAGES/main-images/airtag_large.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container h1 {
  margin-top: 53px;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: 0em;
}

.container h2 {
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.016em;
}

.container h3 a {
  text-decoration: none;
  color: #06c;
  font-size: 17px;
  line-height: 1.23536;
  font-weight: 400;
  margin: 0 12px;
}

.container h3 {
  display: inline;
}

.container h3 a:hover {
  text-decoration: underline;
}

#box5 {
  background-image: url(/IMAGES/main-images/music-apple.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#box6 {
  background-image: url(/IMAGES/main-images/coda-apple-large.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#box5 h2,
#box5 h3 a {
  color: white;
  cursor: pointer;
}

#box5 h3 a:hover {
  text-decoration: underline;
}

.container {
  position: relative;
  z-index: -2;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 30px;
}

.wrapper h6 {
  font-size: 21px;
  line-height: 1.2381;
  font-weight: 400;
  letter-spacing: 0.016em;
  color: white;
  margin-top: 16px;
}

.wrapper div img {
  margin-top: 16px;
}

footer {
  background-color: #f5f5f7;
  margin-top: 1.5%;
  display: flex;
  align-items: center;
}

footer section {
  min-width: 1024px;
  line-height: 1.33337;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin: 0 auto;
}

.note1 {
  color: #86868b;
  padding: 17px 0 11px;
  border-bottom: 1px solid #d2d2d7;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 980px;
}

.note1 ol,
.note1 ul {
  list-style: none;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.note1 li {
  padding-bottom: 0.8em;
}

.wrapper h6 a {
  color: white;
  text-decoration: none;
}

.wrapper h6 a:hover {
  text-decoration: underline;
}
